<!DOCTYPE html>
<html>
<body>
<h1>Exports</h1>
<h3>{{ files.keys()|length }} export(s) found in {{ path }}</h3>
<ul>
    {% for ename in files.keys() %}
    <li>
        <!-- this one is for queue -->
        <form action="/export?file={{ ename }}" method="POST">

        <!-- and this one is direct =) -->
        <!--<form action="/export/worker/http?file={{ ename }}" method="POST">-->
            {{ ename }} ({{ files[ename]|length }}) <input type="submit" value="export" />
        </form>
    </li>
    {% endfor %}
</ul>
</body>
</html>
